---
// Importing necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import CardSmall from "@components/ui/cards/CardSmall.astro";
import CardWide from "@components/ui/cards/CardWide.astro";
import FeaturesStatsAlt from "@components/sections/features/FeaturesStatsAlt.astro";
import TestimonialsSectionAlt from "@components/sections/testimonials/TestimonialsSectionAlt.astro";

// Importing necessary functions from Astro
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

// Fetching all the program-related content and sorting it by main.id
const product: CollectionEntry<"products">[] = (
  await getCollection("products", ({ id }) => {
    return id.startsWith("en/");
  })
).sort(
  (a: CollectionEntry<"products">, b: CollectionEntry<"products">) =>
    a.data.main.id - b.data.main.id
);

// Define variables for page content
const title: string = "Programs";
const subTitle: string =
  "Explore the diverse opportunities for higher education abroad, designed to empower students from all backgrounds. Each program is tailored to provide the knowledge and skills needed to thrive in a global environment.";

// Testimonial data that will be rendered in the component
const testimonials = [
  {
    content:
      "Studying abroad has transformed my academic journey. The resources and support provided by BookEducation were invaluable in navigating the complexities of international education. I now have a global perspective that enhances my studies.",
    author: "Emily Johnson",
    role: "Student | University of London",
    avatarSrc:
      "https://images.unsplash.com/photo-1500648767791-00dcc994a43e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Emily Johnson",
  },

  {
    content:
      "The guidance I received from BookEducation made my transition to studying abroad seamless. I was able to choose the right program that aligned with my career goals, and the support staff was always there to help.",
    author: "Carlos Mendez",
    role: "Graduate Student | University of Melbourne",
    avatarSrc:
      "https://images.unsplash.com/photo-1544005313-94ddf0286df2?q=80&w=1376&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Carlos Mendez",
  },

  {
    content:
      "As a first-generation college student, I was nervous about studying abroad. However, the support and resources provided by BookEducation gave me the confidence I needed to pursue my dreams. I highly recommend their services!",
    author: "Fatima Ali",
    role: "Undergraduate Student | University of Toronto",
    avatarSrc:
      "https://images.unsplash.com/photo-1474176857210-7287d38d27c6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Fatima Ali",
  },
];
---

<MainLayout
  title="Programs | BookEducation"
  lang="en"
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://bookeducation.com/en/programs",
    url: "https://bookeducation.com/en/programs",
    name: "Higher Education Programs | BookEducation",
    description:
      "Explore diverse opportunities for higher education abroad, designed to empower students and provide the skills needed to thrive globally.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://bookeducation.com/en",
      name: "BookEducation",
      description:
        "BookEducation offers top-tier guidance and expert services to help students excel in their higher education abroad journey.",
    },
    inLanguage: "en",
  }}
>
  <div
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <div class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12">
      <div class="flex items-center gap-12">
        <h1
          class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
        >
          {title}
        </h1>
        {
          subTitle && (
            <p class="hidden max-w-screen-sm text-pretty text-neutral-600 dark:text-neutral-400 md:block">
              {subTitle}
            </p>
          )
        }
      </div>
      <PrimaryCTA
        title="Student Success Stories"
        url="#testimonials"
        noArrow={true}
      />
    </div>
    <!--Displaying programs in alternating styles. Alternative program gets different card styling.-->
    <!--Maps through all program entries and displays them with either CardSmall or CardWide based on their position.-->
    <section class="grid grid-cols-1 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
      {
        product.map((product, index) => {
          const position = index % 4;
          if (position === 0 || position === 3) {
            return <CardSmall product={product} productLocale="en" />;
          } else {
            return <CardWide product={product} productLocale="en" />;
          }
        })
      }
    </section>
  </div>
  <!--Features statistics section-->
  <FeaturesStatsAlt
    title="Why Choose BookEducation?"
    subTitle="Transform your academic dreams into reality with BookEducation. Whether you're planning your first study abroad experience or looking to expand your global horizons, we are here to help you succeed."
    benefits={[
      "Expert guidance on program selection and application processes.",
      "Comprehensive resources for international students.",
      "Dedicated support from experienced advisors throughout your journey.",
    ]}
  />
  <!--Testimonials section-->
  <TestimonialsSectionAlt
    title="What Our Students Are Saying"
    testimonials={testimonials}
  />
</MainLayout>
